# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

[toolchanger]
t_command_restore_axis: XYZ
## These are the axis the tool will return its position to. Can be any combination of X,Y, and Z.
## Z is required because of the z hop in the default paths below.
params_safe_toolhead_y: 110
## This is the Y position, with a toolhead on the carriage, that the active toolhead can
## move behind the docked tool without running into the docked tool.
params_safe_shuttle_y: 20  # safe motion with no toolhead present
## This is the Y position, without a toolhead on the carriage, that the carriage can
## move behind the docked tool heads without the magnets pulling on them.
params_close_y: 16
## Y position where the carriage magnets do not pull on the tool plate magnets with the tool docked.
params_attach_y: 2
## Y position where the screws are aligned with the large opening in the docking slots.
params_fast_speed: 24000
## Docking and undocking fast speed in mm per minute. This is the speed used between the print and the close_y parameter.
## This lets us move as fast as we want to between the print and docking area, where we transition to the path_speed.
params_path_speed: 1000
## Docking and undocking path speed in mm per minute. When the tool is put in and pulled from the docking slots.
## This starts at the close_y parameter, and is used for docking and undocking the tool heads.

require_tool_present: False # can set to False if using Beacon/Cartographer/Eddy for Z probe.

# Default shaper
params_input_shaper_type_x: '3hump_ei'
params_input_shaper_freq_x: 96.4
# params_input_shaper_damping_ratio_x: 0.065
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 51.6
# params_input_shaper_damping_ratio_y: 0.06

# this section must be completed
[gcode_macro homing_override_config]
variable_sensorless_x: False
variable_sensorless_y: False
variable_homing_rebound_y: 10 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc2209"
variable_homing_current: 0.49

# # M109 macro is overridden to allow some deadband on the temp
# # default is +- 1 degree.  So if the set temp is 250 the the default
# # deadband will be 249-251.  You can adjust this here:

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 4.0

[gcode_macro STOP_FILAMENT_SENSORS]
gcode:
  SET_FILAMENT_SENSOR SENSOR="switch_sensor_T0" ENABLE=0
  SET_FILAMENT_SENSOR SENSOR="encoder_sensor_T0" ENABLE=0
  SET_FILAMENT_SENSOR SENSOR="switch_sensor_T1" ENABLE=0
  SET_FILAMENT_SENSOR SENSOR="encoder_sensor_T1" ENABLE=0
  # RESPOND TYPE=echo MSG="Filament sensors stopped"

# # these values need to be set to match the location of your Calibration Switch
# [gcode_macro _CALIBRATION_SWITCH]
# variable_x: 227.471875
# variable_y: 353.703125
# variable_z: 5.00
# gcode:

# # [tools_calibrate]
# # pin: PG11 #pin that your calibration probe is connected to.
# # travel_speed: 20  # mms to travel sideways for XY probing
# # spread: 7  # mms to travel down from top for XY probing
# # lower_z: 1.0  # The speed (in mm/sec) to move tools down onto the probe
# # speed: 2  # The speed (in mm/sec) to retract between probes
# # lift_speed: 4  # Z Lift after probing done, should be greater than any Z variance between tools
# # final_lift_z: 6 
# # sample_retract_dist:2
# # samples_tolerance:0.05
# # samples:5
# # samples_result: median # median, average
# # # Settings for nozzle probe calibration - optional.
# # #probe: probe # name of the nozzle probe to use
# # #trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# # decrease if the nozzle is too high, increase if too low.
